<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
  <h2>Thanks for wanting to join us! Please fill out the information below!</h2>
    <form action="/create-account" method="POST" style="margin:150px;">
      <label for="">Please enter a username:</label>
      <input id="username" type="text" name="username"  style="width: 300px">
      <label for="">Please enter your email:</label>
      <input id="email" type="text" name="email"  style="width: 300px">
      <label for="">Please enter a password:</label>
      <input id="password" type="text" name="password" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>