<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <%= Welcome to the worst app ever, please log in! %>
  </head>
  <body style="font-size:20px; padding:50px;">

    <form action="/login" method="POST" style="margin:150px;">
      <label for="">Enter a username:</label>
      <input id="username" type="text" name="username" style="width: 300px">
      <input type="submit" value="Login">
    </form>